html {
  font-size: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: $border-radius;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  border-radius: $border-radius;
  height: 0.6rem;
}

input[type='range']::-moz-range-track {
  border-radius: $border-radius;
  height: 0.6rem;
}

input[type='range']::-webkit-slider-thumb {
  margin-top: -0.1rem;
}
