.c-rgb-picker {
  &__placeholder {
    cursor: pointer;
  }

  &__inner {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 0.1rem solid $border-color;
    border-radius: $border-radius;
    padding: 1rem;
    width: 100%;
    margin: 1rem 0;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;

    button {
      margin: 1rem 0.5rem;
      font-size: 1rem;
      border: none;

      &.success {
        background-color: $success-color;
      }

      &.cancel {
        background-color: $error-color;
      }
    }
  }

  input {
    width: 100%;

    &[name='R'] {
      @include range-input(
        'background',
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 100%)
      );
    }

    &[name='G'] {
      @include range-input(
        'background',
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 255, 0, 1) 100%)
      );
    }

    &[name='B'] {
      @include range-input(
        'background',
        linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 255, 1) 100%)
      );
    }
  }
}
